---
import Layout from '../layouts/Layout.astro';
import EventCard from '../components/EventCard.astro';
import Form from '../components/Form.astro';
import { Image } from 'astro:assets';
import Hero from '../assets/img-hero-2008x1130.png';
import Speaker1 from '../assets/img-Amit-Gupte-1600x2500.jpg';
import Speaker2 from '../assets/img-Michael-Desmyth-2731x4096.png';
import Features1 from '../assets/img-cyber-resilience-2000x1125.png';
import Features2 from '../assets/img-randsome ware awareness-1080x1236.png'
import Features3 from '../assets/img-operational-cont-1080x1236.png'
import Features4 from '../assets/img-recovery-readiness-567x319.png'
import Features5 from '../assets/img-security-1080x1080.jpg'
import Features6 from '../assets/img-reducing-downtime-1800x1212.png'
---

<Layout>	
	<header class="px-[20px]">
		<div class="w-full max-w-[1440px] sm:px-0 mx-auto pt-[58px] flex flex-col items-start sm:flex-row sm:items-center justify-between gap-y-6">
			<div class="flex flex-row gap-6 items-center">
				<a href="https://ethan.global/" target="_blank" class="hover:scale-105 transition-transform duration-500" aria-label="Ethan Global logo">
					<svg xmlns="http://www.w3.org/2000/svg" width="155" height="34" viewBox="0 0 207 46" fill="none" class="w-full sm:w-auto h-5 sm:h-8.5">
						<g clip-path="url(#clip0_2002_7)">
						<path d="M109.292 17.9554H98.8832L93.1752 27.5316H109.292V45.658H120.204V0H109.292V17.9554ZM139.343 0.171004L122.387 45.829H133.467L136.825 35.9108L139.847 27.1896L144.547 13.6803L149.08 27.1896L152.102 35.9108L155.46 45.829H166.876L150.088 0.171004H139.343ZM196.591 0.171004V28.2156L179.635 0.513011L179.467 0.171004H168.891V45.829H179.299V17.9554L196.423 45.829H207V0.171004H196.591ZM41.635 0.171004H78.5693V9.74721H65.6423V45.829H54.7299V9.74721H41.8029V0.171004H41.635Z" fill="#231F20"/>
						<path d="M39.6205 0.171005H5.87598V9.74721H39.6205V0.171005Z" fill="#231F20"/>
						<path d="M39.4526 18.1264H5.70803L0 27.7026H33.7445L39.4526 18.1264Z" fill="#231F20"/>
						<path d="M39.6205 36.4238H5.87598V46H39.6205V36.4238Z" fill="#231F20"/>
						<path d="M93.1751 0.171005H82.2627V45.829H93.1751V0.171005Z" fill="#231F20"/>
						</g>
						<defs>
							<clipPath id="clip0_2002_7">
							<rect width="207" height="46" fill="white"/>
							</clipPath>
						</defs>
					</svg>
				</a>
				<div class="min-w-px w-px max-w-px h-[2.125rem] bg-black hidden sm:block">&nbsp;</div>
				<a href="https://www.cohesity.com/" target="_blank" class="hover:scale-105 transition-transform duration-500" aria-label="Cohesity logo">
					<svg xmlns="http://www.w3.org/2000/svg" width="237" height="34" viewBox="0 0 237 34" fill="none" class="w-full sm:w-auto h-5 sm:h-8.5">
						<g clip-path="url(#clip0_2021_295)">
							<path d="M157.651 0.512699H144.458C137.314 0.512699 131.542 6.27044 132.115 13.2728C132.609 19.3409 137.791 24.1306 144.084 24.1306H148.656C149.863 24.1306 150.974 23.3312 151.204 22.1641C151.516 20.5956 150.295 19.2161 148.755 19.2161H144.362C140.617 19.2161 137.328 16.4435 137.091 12.7669C136.834 8.76647 140.072 5.42718 144.084 5.42718L156.595 5.40357C157.024 5.40357 157.404 5.12361 157.528 4.71885L158.468 1.58532C158.629 1.05238 158.221 0.516072 157.655 0.516072L157.651 0.512699Z" fill="black"/>
							<path d="M148.875 9.82222H144.276C143.083 9.82222 141.999 10.6149 141.759 11.7651C141.43 13.3436 142.654 14.7367 144.204 14.7367H148.628C152.356 14.7367 155.618 17.4992 155.868 21.1556C156.142 25.1694 152.901 28.5222 148.875 28.5222H136.22C135.864 28.5222 135.552 28.7516 135.452 29.0889L134.461 32.4046C134.307 32.9206 134.701 33.4367 135.246 33.4367H148.553C155.271 33.4367 160.992 28.0298 160.879 21.4254C160.769 15.0065 155.426 9.81885 148.872 9.81885L148.875 9.82222Z" fill="black"/>
							<path d="M29.6824 26.1476L26.3147 24.3262C25.8963 24.1002 25.3784 24.225 25.1109 24.6129C24.2775 25.8272 23.1458 26.8323 21.75 27.5946C20.361 28.3536 18.828 28.7415 17.1922 28.7415C15.5563 28.7415 14.0782 28.4514 12.7132 27.8813C11.3483 27.3113 10.1514 26.5018 9.14994 25.473C8.14853 24.4442 7.34945 23.1929 6.78015 21.756C6.20742 20.3123 5.91934 18.7135 5.91934 16.9966C5.91934 15.2798 6.20742 13.6438 6.78015 12.2171C7.34945 10.7937 8.14853 9.54901 9.14994 8.52024C10.1479 7.49484 11.3483 6.68532 12.7132 6.11191C14.0782 5.54187 15.5871 5.25179 17.1922 5.25179C18.7972 5.25179 20.3576 5.64306 21.7431 6.41885C23.1492 7.20476 24.2844 8.20317 25.1178 9.39048C25.3853 9.77163 25.9065 9.89305 26.3181 9.66369L29.6379 7.84226C29.8642 7.71746 30.0288 7.50159 30.0871 7.25198C30.1454 7.00238 30.0871 6.73929 29.9397 6.53016C29.2743 5.6127 28.5061 4.75258 27.6659 3.97004C26.8119 3.18075 25.8448 2.47917 24.7885 1.88214C23.7288 1.28512 22.5525 0.81627 21.2973 0.489087C20.0352 0.168651 18.6531 0 17.1887 0C14.8052 0 12.5452 0.414881 10.4703 1.23115C8.39202 2.04742 6.55037 3.22123 4.9968 4.71548C3.44323 6.20972 2.20861 8.02103 1.32722 10.0988C0.445837 12.1766 0 14.5006 0 17.0034C0 19.5062 0.445837 21.8302 1.32722 23.9079C2.20861 25.9857 3.44323 27.797 4.9968 29.2913C6.55037 30.7855 8.38859 31.956 10.4669 32.7722C12.5417 33.5885 14.8052 34.0034 17.1887 34.0034C20.1621 34.0034 22.724 33.3726 24.8057 32.1212C26.8428 30.8968 28.585 29.3351 29.9774 27.4766C30.1351 27.2675 30.1934 27.001 30.1351 26.748C30.0768 26.495 29.9122 26.2758 29.6824 26.151V26.1476Z" fill="black"/>
							<path d="M61.6558 4.88075C60.2017 3.3494 58.4286 2.14187 56.3881 1.28512C54.3543 0.431746 52.0772 0 49.6216 0C47.1661 0 44.8923 0.431746 42.8586 1.28512C40.8181 2.13849 39.0484 3.3494 37.5909 4.88075C36.1402 6.40536 34.9982 8.22341 34.2025 10.2843C33.4069 12.3385 33.0022 14.5984 33.0022 16.9966C33.0022 19.3948 33.4069 21.6581 34.2025 23.7123C35.0016 25.7732 36.1402 27.5913 37.5909 29.1159C39.0484 30.6472 40.8215 31.8581 42.8586 32.7115C44.8923 33.5649 47.1695 33.9966 49.6216 33.9966C52.0737 33.9966 54.3509 33.5649 56.3881 32.7115C58.4252 31.8581 60.1982 30.6472 61.6558 29.1159C63.1065 27.5913 64.2451 25.7732 65.0441 23.7123C65.8398 21.6581 66.2445 19.3982 66.2445 16.9966C66.2445 14.595 65.8398 12.3351 65.0441 10.2843C64.2451 8.22341 63.1065 6.40536 61.6558 4.88075ZM59.5535 21.7155C59.0391 23.1389 58.3086 24.3903 57.3792 25.4325C56.4601 26.4647 55.3318 27.2843 54.0354 27.8645C52.739 28.4446 51.2541 28.7415 49.625 28.7415C47.996 28.7415 46.4973 28.4446 45.1873 27.8645C43.8738 27.2843 42.742 26.4647 41.8229 25.4325C40.8935 24.3937 40.1733 23.1456 39.676 21.7222C39.1719 20.2853 38.9181 18.6966 38.9181 17C38.9181 15.3034 39.1719 13.7046 39.676 12.2508C40.1699 10.8173 40.8935 9.56925 41.816 8.54722C42.7352 7.52857 43.8703 6.71567 45.1838 6.13214C46.4973 5.55198 47.9926 5.25516 49.6216 5.25516C51.2506 5.25516 52.7356 5.54861 54.032 6.13214C55.3318 6.71567 56.4601 7.52857 57.3792 8.54722C58.3051 9.57262 59.0356 10.8206 59.5466 12.2575C60.0645 13.7113 60.3251 15.3067 60.3251 17C60.3251 18.6933 60.0645 20.2786 59.5466 21.7155H59.5535Z" fill="black"/>
							<path d="M71.4298 33.4401H75.3669C75.8745 33.4401 76.286 33.0353 76.286 32.5395V19.1621H92.9535V32.5395C92.9535 33.0387 93.365 33.4401 93.8726 33.4401H97.8097C98.3172 33.4401 98.7288 33.0353 98.7288 32.5395V1.41667C98.7288 0.917461 98.3172 0.512699 97.8097 0.512699H93.8726C93.365 0.512699 92.9535 0.917461 92.9535 1.41667V13.9036H76.286V1.41667C76.286 0.917461 75.8745 0.512699 75.3669 0.512699H71.4298C70.9223 0.512699 70.5142 0.917461 70.5142 1.41667V32.5395C70.5142 33.0387 70.9257 33.4401 71.4298 33.4401Z" fill="black"/>
							<path d="M104.988 33.4401H127.187C127.695 33.4401 128.106 33.0353 128.106 32.5361V29.0821C128.106 28.5829 127.695 28.1816 127.187 28.1816H109.84V19.2532H126.12C126.628 19.2532 127.039 18.8484 127.039 18.3492V14.8952C127.039 14.396 126.628 13.9946 126.12 13.9946H109.84V5.76786H127.187C127.695 5.76786 128.106 5.3631 128.106 4.86389V1.41667C128.106 0.917461 127.695 0.512699 127.187 0.512699H104.988C104.48 0.512699 104.072 0.917461 104.072 1.41667V32.5395C104.072 33.0387 104.484 33.4435 104.988 33.4435V33.4401Z" fill="black"/>
							<path d="M166.801 0.512699H170.738C171.246 0.512699 171.657 0.917461 171.657 1.41667V32.5395C171.657 33.0387 171.246 33.4435 170.738 33.4435H166.801C166.294 33.4435 165.882 33.0387 165.882 32.5395V1.41667C165.882 0.917461 166.294 0.512699 166.801 0.512699Z" fill="black"/>
							<path d="M177.069 5.77123H186.891V32.5395C186.891 33.0387 187.303 33.4401 187.807 33.4401H191.751C192.259 33.4401 192.667 33.0353 192.667 32.5395V5.77123H202.489C202.996 5.77123 203.408 5.36647 203.408 4.86726V1.41667C203.408 0.917461 202.996 0.512699 202.489 0.512699H177.069C176.562 0.512699 176.154 0.917461 176.154 1.41329V4.86726C176.154 5.36647 176.565 5.77123 177.069 5.77123Z" fill="black"/>
							<path d="M218.751 19.6579V32.5395C218.751 33.0387 219.163 33.4435 219.671 33.4435H223.652C224.16 33.4435 224.568 33.0387 224.568 32.5395V19.6579L236.839 1.92262C237.031 1.64603 237.051 1.28849 236.89 0.991667C236.732 0.698215 236.42 0.512699 236.077 0.512699H231.475C231.17 0.512699 230.882 0.664485 230.714 0.914088L221.656 14.2544L212.599 0.914088C212.427 0.664485 212.143 0.512699 211.838 0.512699H207.235C206.896 0.512699 206.584 0.698215 206.426 0.991667C206.268 1.28849 206.285 1.64603 206.477 1.92262L218.748 19.6579H218.751Z" fill="black"/>
						</g>
						<defs>
							<clipPath id="clip0_2021_295">
							<rect width="237" height="34" fill="white"/>
							</clipPath>
						</defs>
					</svg>
				</a>
			</div>
			<a href="#registration-form" target="_self" class="font-display text-[22px] leading-[16px] uppercase text-white bg-black px-2 py-3 border-2 border-black text-nowrap hover:bg-transparent hover:text-black hover:cursor-pointer hover:scale-105 transition-all duration-500">
				RESERVE YOUR PLACE
			</a>
		</div>
	</header>
	
	<main class="px-[20px]">
		<div class="w-full max-w-[1440px] mx-auto">
			<h1 class="py-[clamp(82px,64px+5vw,136px)] text-left" data-usal="fade-u">
				Resilience <br>Redefined
			</h1>
			<div class="pb-10 hidden sm:block" data-usal="fade-u delay-200">
				<EventCard />
			</div>
		</div>

		<figure class="pt-0 lg:pt-8.5 relative left-1/2 right-1/2 -ml-[50vw] -mr-[50vw] w-[100vw]" data-usal="fade-u delay-400">
			 <Image 
			 src={Hero}
			 alt="A close-up of a human eye peering anxiously through a jagged hole torn in brown cardboard."
			 width="2008"
			 height="1130"
			 layout="full-width"
			 decoding="async"
			 loading="eager"
			 class="object-cover w-full h-[clamp(320px,50vw,850px)]"
			 />
        </figure>
	</main>

	<section class="px-[20px] py-20 sm:py-25 md:py-30 lg:py-36">
		<div class="container">
			<h2 class="w-[90%]" data-usal="fade-u">
				Building a Future-Ready Strategy for Data Recovery, Security and Business Continuity
			</h2>
		</div>
		<div class="container grid grid-cols-1 lg:grid-cols-12 gap-8 items-center pt-20 sm:pt-25 md:pt-30 lg:pt-36" data-usal="fade-u delay-200">
			<div class="hidden lg:block lg:col-span-4"></div>

			<div class="lg:col-span-8 max-w-2xl space-y-6 lg:space-y-8">
        
				<span class="font-sans font-[800] leading-tight tracking-tighter text-xl md:text-2xl lg:text-[26px] text-black block mb-5">
					Can Your Organisation Recover When It Matters Most?
				</span>

				<div class="space-y-5 font-sans font-[200] leading-tight text-black text-xl md:text-2xl lg:text-[26px]">
					<p>
						Join Ethan Global and Cohesity for an executive lunch discussion focused on cyber resilience, operational continuity and recovery readiness in today’s evolving threat landscape.
					</p>
					<p>
						Designed for senior security and technology leaders, this conversational session explores how organisations are reducing operational risk, improving recovery confidence and preparing for modern cyber threats.
					</p>
				</div>

				<a href="#registration-form" target="_self" class="bg-black border-2 border-black text-white font-display font-[950] text-[20px] md:text-[22px] uppercase px-2 py-1 cursor-pointer mt-10 inline-block fit-content hover:bg-transparent hover:text-black hover:scale-105 transition-all duration-500">
					Reserve Your Place
				</a>
			</div>
		</div>
	</section>

	<section class="px-[20px] py-20 sm:py-25 md:py-30 lg:py-36 bg-black">
		<div class="container pb-14" data-usal="fade-u">
			<h3 class="text-white">
				Your Hosts
			</h3>
		</div>

		<!-- Slider main container -->
		<div class="swiper w-full h-auto" data-usal="fade-u">
			<!-- Additional required wrapper -->
			<div class="swiper-wrapper !flex !items-stretch" style=" display: flex !important; align-items: stretch !important;">         
					
				<!-- Slide 1 -->
				<div class="swiper-slide bg-white w-[100%]! md:w-[96%]! !h-auto !p-3 md:!p-4 !flex !flex-col md:!flex-row gap-6 md:gap-12 items-stretch" >
					
					<div class="w-full md:w-1/3 aspect-[4/5] bg-black overflow-hidden flex-shrink-0">
						<Image 
							src={Speaker1}
							alt="Amit Gupte"
							width="1600"
							height="2500"
							layout="constrained"
							decoding="async"
							loading="lazy"
							class="w-full h-full object-cover"
						/>
					</div>
					
					<div class="w-full md:w-2/3 flex flex-col py-8 md:py-10 justify-between space-y-10 mr-10">
						<div>
							<h2 class="font-display font-[950] tracking-normal text-black text-[52px] md:text-[56px] lg:text-[60px]">
								Amit Gupte
							</h2>
							<p class="font-[700] tracking-tight text-[19.2px] md:text-[20.8px] lg:text-[24px] md:mt-2">
								Field Delivery Director & CTO&nbsp;|&nbsp;Cohesity
							</p>
						</div>
						<p class="text-xl md:text-2xl lg:text-[26px]">
							Amit Gupte is a technology and cyber resilience leader with extensive experience helping enterprise organisations strengthen operational resilience, modernise infrastructure environments and improve recovery readiness.
						</p>
						<div class="w-full border-t border-black mt-auto mb-[1.25rem]"></div>
						<svg xmlns="http://www.w3.org/2000/svg" width="237" height="34" viewBox="0 0 237 34" fill="none">
							<path d="M157.652 0.512695H144.458C137.315 0.512695 131.543 6.27043 132.115 13.2728C132.609 19.3409 137.791 24.1306 144.084 24.1306H148.656C149.863 24.1306 150.974 23.3311 151.204 22.1641C151.516 20.5956 150.295 19.2161 148.755 19.2161H144.362C140.617 19.2161 137.328 16.4434 137.092 12.7669C136.834 8.76646 140.072 5.42718 144.084 5.42718L156.595 5.40357C157.024 5.40357 157.405 5.12361 157.528 4.71885L158.468 1.58531C158.629 1.05238 158.221 0.516068 157.655 0.516068L157.652 0.512695Z" fill="black"/>
							<path d="M148.875 9.82222H144.276C143.083 9.82222 141.999 10.6149 141.759 11.7651C141.43 13.3436 142.654 14.7367 144.204 14.7367H148.628C152.356 14.7367 155.618 17.4992 155.868 21.1556C156.142 25.1694 152.901 28.5222 148.875 28.5222H136.22C135.864 28.5222 135.552 28.7516 135.452 29.0889L134.461 32.4046C134.307 32.9206 134.701 33.4367 135.246 33.4367H148.553C155.271 33.4367 160.992 28.0298 160.879 21.4254C160.769 15.0065 155.426 9.81885 148.872 9.81885L148.875 9.82222Z" fill="black"/>
							<path d="M29.6824 26.1476L26.3147 24.3262C25.8963 24.1002 25.3784 24.225 25.1109 24.6129C24.2775 25.8272 23.1458 26.8323 21.75 27.5946C20.361 28.3536 18.828 28.7415 17.1922 28.7415C15.5563 28.7415 14.0782 28.4514 12.7132 27.8813C11.3483 27.3113 10.1514 26.5018 9.14994 25.473C8.14853 24.4442 7.34945 23.1929 6.78015 21.756C6.20742 20.3123 5.91934 18.7135 5.91934 16.9966C5.91934 15.2798 6.20742 13.6438 6.78015 12.2171C7.34945 10.7937 8.14853 9.54901 9.14994 8.52024C10.1479 7.49484 11.3483 6.68532 12.7132 6.11191C14.0782 5.54187 15.5871 5.25179 17.1922 5.25179C18.7972 5.25179 20.3576 5.64306 21.7431 6.41885C23.1492 7.20476 24.2844 8.20317 25.1178 9.39048C25.3853 9.77163 25.9065 9.89305 26.3181 9.66369L29.6379 7.84226C29.8642 7.71746 30.0288 7.50159 30.0871 7.25198C30.1454 7.00238 30.0871 6.73929 29.9397 6.53016C29.2743 5.6127 28.5061 4.75258 27.6659 3.97004C26.8119 3.18075 25.8448 2.47917 24.7885 1.88214C23.7288 1.28512 22.5525 0.81627 21.2973 0.489087C20.0352 0.168651 18.6531 0 17.1887 0C14.8052 0 12.5452 0.414881 10.4703 1.23115C8.39202 2.04742 6.55037 3.22123 4.9968 4.71548C3.44323 6.20972 2.20861 8.02103 1.32722 10.0988C0.445837 12.1766 0 14.5006 0 17.0034C0 19.5062 0.445837 21.8302 1.32722 23.9079C2.20861 25.9857 3.44323 27.797 4.9968 29.2913C6.55037 30.7855 8.38859 31.956 10.4669 32.7722C12.5417 33.5885 14.8052 34.0034 17.1887 34.0034C20.1621 34.0034 22.724 33.3726 24.8057 32.1212C26.8428 30.8968 28.585 29.3351 29.9774 27.4766C30.1351 27.2675 30.1934 27.001 30.1351 26.748C30.0768 26.495 29.9122 26.2758 29.6824 26.151V26.1476Z" fill="black"/>
							<path d="M61.656 4.88075C60.2019 3.3494 58.4289 2.14187 56.3883 1.28512C54.3546 0.431746 52.0774 0 49.6219 0C47.1663 0 44.8926 0.431746 42.8589 1.28512C40.8183 2.13849 39.0487 3.3494 37.5911 4.88075C36.1404 6.40536 34.9984 8.22341 34.2028 10.2843C33.4071 12.3385 33.0024 14.5984 33.0024 16.9966C33.0024 19.3948 33.4071 21.6581 34.2028 23.7123C35.0018 25.7732 36.1404 27.5913 37.5911 29.1159C39.0487 30.6472 40.8217 31.8581 42.8589 32.7115C44.8926 33.5649 47.1698 33.9966 49.6219 33.9966C52.074 33.9966 54.3512 33.5649 56.3883 32.7115C58.4254 31.8581 60.1985 30.6472 61.656 29.1159C63.1067 27.5913 64.2453 25.7732 65.0444 23.7123C65.84 21.6581 66.2447 19.3982 66.2447 16.9966C66.2447 14.595 65.84 12.3351 65.0444 10.2843C64.2453 8.22341 63.1067 6.40536 61.656 4.88075ZM59.5537 21.7155C59.0393 23.1389 58.3088 24.3903 57.3794 25.4325C56.4603 26.4647 55.332 27.2843 54.0356 27.8645C52.7393 28.4446 51.2543 28.7415 49.6253 28.7415C47.9963 28.7415 46.4976 28.4446 45.1875 27.8645C43.874 27.2843 42.7423 26.4647 41.8231 25.4325C40.8938 24.3937 40.1736 23.1456 39.6763 21.7222C39.1721 20.2853 38.9184 18.6966 38.9184 17C38.9184 15.3034 39.1721 13.7046 39.6763 12.2508C40.1701 10.8173 40.8938 9.56925 41.8163 8.54722C42.7354 7.52857 43.8706 6.71567 45.1841 6.13214C46.4976 5.55198 47.9928 5.25516 49.6219 5.25516C51.2509 5.25516 52.7359 5.54861 54.0322 6.13214C55.332 6.71567 56.4603 7.52857 57.3794 8.54722C58.3054 9.57262 59.0359 10.8206 59.5469 12.2575C60.0647 13.7113 60.3254 15.3067 60.3254 17C60.3254 18.6933 60.0647 20.2786 59.5469 21.7155H59.5537Z" fill="black"/>
							<path d="M71.4298 33.4401H75.3669C75.8745 33.4401 76.286 33.0353 76.286 32.5395V19.1621H92.9535V32.5395C92.9535 33.0387 93.365 33.4401 93.8726 33.4401H97.8097C98.3172 33.4401 98.7288 33.0353 98.7288 32.5395V1.41666C98.7288 0.917457 98.3172 0.512695 97.8097 0.512695H93.8726C93.365 0.512695 92.9535 0.917457 92.9535 1.41666V13.9036H76.286V1.41666C76.286 0.917457 75.8745 0.512695 75.3669 0.512695H71.4298C70.9223 0.512695 70.5142 0.917457 70.5142 1.41666V32.5395C70.5142 33.0387 70.9257 33.4401 71.4298 33.4401Z" fill="black"/>
							<path d="M104.988 33.4401H127.187C127.695 33.4401 128.106 33.0353 128.106 32.5361V29.0821C128.106 28.5829 127.695 28.1815 127.187 28.1815H109.841V19.2532H126.121C126.628 19.2532 127.04 18.8484 127.04 18.3492V14.8952C127.04 14.396 126.628 13.9946 126.121 13.9946H109.841V5.76785H127.187C127.695 5.76785 128.106 5.36309 128.106 4.86389V1.41666C128.106 0.917457 127.695 0.512695 127.187 0.512695H104.988C104.48 0.512695 104.072 0.917457 104.072 1.41666V32.5395C104.072 33.0387 104.484 33.4435 104.988 33.4435V33.4401Z" fill="black"/>
							<path d="M166.801 0.512695H170.739C171.246 0.512695 171.658 0.917457 171.658 1.41666V32.5395C171.658 33.0387 171.246 33.4435 170.739 33.4435H166.801C166.294 33.4435 165.882 33.0387 165.882 32.5395V1.41666C165.882 0.917457 166.294 0.512695 166.801 0.512695Z" fill="black"/>
							<path d="M177.069 5.77123H186.892V32.5395C186.892 33.0387 187.303 33.4401 187.807 33.4401H191.751C192.259 33.4401 192.667 33.0353 192.667 32.5395V5.77123H202.489C202.997 5.77123 203.408 5.36646 203.408 4.86726V1.41666C203.408 0.917457 202.997 0.512695 202.489 0.512695H177.069C176.562 0.512695 176.154 0.917457 176.154 1.41329V4.86726C176.154 5.36646 176.565 5.77123 177.069 5.77123Z" fill="black"/>
							<path d="M218.752 19.6579V32.5395C218.752 33.0387 219.163 33.4435 219.671 33.4435H223.653C224.16 33.4435 224.568 33.0387 224.568 32.5395V19.6579L236.839 1.92262C237.031 1.64603 237.052 1.28849 236.89 0.991664C236.733 0.698211 236.421 0.512695 236.078 0.512695H231.475C231.17 0.512695 230.882 0.664481 230.714 0.914084L221.657 14.2544L212.599 0.914084C212.428 0.664481 212.143 0.512695 211.838 0.512695H207.235C206.896 0.512695 206.584 0.698211 206.426 0.991664C206.268 1.28849 206.285 1.64603 206.478 1.92262L218.748 19.6579H218.752Z" fill="black"/>
						</svg>
					</div>

				</div>

				<!-- Slide 2 -->
				<div class="swiper-slide bg-white w-[100%]! md:w-[96%]! !h-auto !p-3 md:!p-4 !flex !flex-col md:!flex-row gap-6 md:gap-12 items-stretch">

					<div class="w-full md:w-1/3 aspect-[4/5] bg-black overflow-hidden flex-shrink-0">
						<Image 
							src={Speaker2}
							alt="Amit Gupte"
							width="1600"
							height="2500"
							layout="constrained"
							decoding="async"
							loading="lazy"
							class="w-full h-full object-cover"
						/>
					</div>
					<div class="w-full md:w-2/3 flex flex-col py-8 md:py-10 justify-between space-y-10 mr-10">
						<div>
							<h2 class="font-display font-[950] tracking-normal text-black text-[52px] md:text-[56px] lg:text-[60px]">
								Michael Desmyth
							</h2>
							<p class="font-[700] tracking-tight text-[19.2px] md:text-[20.8px] lg:text-[24px] md:mt-2">
								Account Director | Ethan Global
							</p>
						</div>
						<p class="text-black text-xl md:text-2xl lg:text-[26px] font-sans font-[200] leading-relaxed">
							Michael Desmyth works closely with enterprise organisations to deliver technology solutions that improve operational efficiency, resilience and long-term business continuity.
						</p>
						<div class="w-full border-t border-black mt-auto mb-[1.25rem]"></div>
						<svg xmlns="http://www.w3.org/2000/svg" width="	155" height="34" viewBox="0 0 155 34" fill="none">
							<path d="M81.8368 13.2714H74.0428L69.7687 20.3494H81.8368V33.7472H90.0079V0H81.8368V13.2714ZM104.339 0.126394L91.6421 33.8736H99.939L102.453 26.5428L104.716 20.0967L108.236 10.1115L111.63 20.0967L113.893 26.5428L116.407 33.8736H124.955L112.384 0.126394H104.339ZM147.206 0.126394V20.855L134.509 0.379182L134.383 0.126394H126.464V33.8736H134.258V13.2714L147.08 33.8736H155V0.126394H147.206ZM31.1758 0.126394H58.8319V7.20446H49.1523V33.8736H40.9811V7.20446H31.3015V0.126394H31.1758Z" fill="#231F20"/>
							<path d="M29.6675 0.126465H4.3999V7.20453H29.6675V0.126465Z" fill="#231F20"/>
							<path d="M29.5418 13.3977H4.27413L0 20.4758H25.2676L29.5418 13.3977Z" fill="#231F20"/>
							<path d="M29.6675 26.9219H4.3999V33.9999H29.6675V26.9219Z" fill="#231F20"/>
							<path d="M69.7688 0.126465H61.5977V33.8737H69.7688V0.126465Z" fill="#231F20"/>
						</svg>
					</div>
				</div>

				<!-- Slide 1 -->
				<div class="swiper-slide bg-white w-[100%]! md:w-[96%]! !h-auto !p-3 md:!p-4 !flex !flex-col md:!flex-row gap-6 md:gap-12 items-stretch" >
					
					<div class="w-full md:w-1/3 aspect-[4/5] bg-black overflow-hidden flex-shrink-0">
						<Image 
							src={Speaker1}
							alt="Amit Gupte"
							width="1600"
							height="2500"
							layout="constrained"
							decoding="async"
							loading="lazy"
							class="w-full h-full object-cover"
						/>
					</div>
					
					<div class="w-full md:w-2/3 flex flex-col py-8 md:py-10 justify-between space-y-10 mr-10">
						<div>
							<h2 class="font-display font-[950] tracking-normal text-black text-[52px] md:text-[56px] lg:text-[60px]">
								Amit Gupte
							</h2>
							<p class="font-[700] tracking-tight text-[19.2px] md:text-[20.8px] lg:text-[24px] md:mt-2">
								Field Delivery Director & CTO&nbsp;|&nbsp;Cohesity
							</p>
						</div>
						<p class="text-xl md:text-2xl lg:text-[26px]">
							Amit Gupte is a technology and cyber resilience leader with extensive experience helping enterprise organisations strengthen operational resilience, modernise infrastructure environments and improve recovery readiness.
						</p>
						<div class="w-full border-t border-black mt-auto mb-[1.25rem]"></div>
						<svg xmlns="http://www.w3.org/2000/svg" width="237" height="34" viewBox="0 0 237 34" fill="none">
							<path d="M157.652 0.512695H144.458C137.315 0.512695 131.543 6.27043 132.115 13.2728C132.609 19.3409 137.791 24.1306 144.084 24.1306H148.656C149.863 24.1306 150.974 23.3311 151.204 22.1641C151.516 20.5956 150.295 19.2161 148.755 19.2161H144.362C140.617 19.2161 137.328 16.4434 137.092 12.7669C136.834 8.76646 140.072 5.42718 144.084 5.42718L156.595 5.40357C157.024 5.40357 157.405 5.12361 157.528 4.71885L158.468 1.58531C158.629 1.05238 158.221 0.516068 157.655 0.516068L157.652 0.512695Z" fill="black"/>
							<path d="M148.875 9.82222H144.276C143.083 9.82222 141.999 10.6149 141.759 11.7651C141.43 13.3436 142.654 14.7367 144.204 14.7367H148.628C152.356 14.7367 155.618 17.4992 155.868 21.1556C156.142 25.1694 152.901 28.5222 148.875 28.5222H136.22C135.864 28.5222 135.552 28.7516 135.452 29.0889L134.461 32.4046C134.307 32.9206 134.701 33.4367 135.246 33.4367H148.553C155.271 33.4367 160.992 28.0298 160.879 21.4254C160.769 15.0065 155.426 9.81885 148.872 9.81885L148.875 9.82222Z" fill="black"/>
							<path d="M29.6824 26.1476L26.3147 24.3262C25.8963 24.1002 25.3784 24.225 25.1109 24.6129C24.2775 25.8272 23.1458 26.8323 21.75 27.5946C20.361 28.3536 18.828 28.7415 17.1922 28.7415C15.5563 28.7415 14.0782 28.4514 12.7132 27.8813C11.3483 27.3113 10.1514 26.5018 9.14994 25.473C8.14853 24.4442 7.34945 23.1929 6.78015 21.756C6.20742 20.3123 5.91934 18.7135 5.91934 16.9966C5.91934 15.2798 6.20742 13.6438 6.78015 12.2171C7.34945 10.7937 8.14853 9.54901 9.14994 8.52024C10.1479 7.49484 11.3483 6.68532 12.7132 6.11191C14.0782 5.54187 15.5871 5.25179 17.1922 5.25179C18.7972 5.25179 20.3576 5.64306 21.7431 6.41885C23.1492 7.20476 24.2844 8.20317 25.1178 9.39048C25.3853 9.77163 25.9065 9.89305 26.3181 9.66369L29.6379 7.84226C29.8642 7.71746 30.0288 7.50159 30.0871 7.25198C30.1454 7.00238 30.0871 6.73929 29.9397 6.53016C29.2743 5.6127 28.5061 4.75258 27.6659 3.97004C26.8119 3.18075 25.8448 2.47917 24.7885 1.88214C23.7288 1.28512 22.5525 0.81627 21.2973 0.489087C20.0352 0.168651 18.6531 0 17.1887 0C14.8052 0 12.5452 0.414881 10.4703 1.23115C8.39202 2.04742 6.55037 3.22123 4.9968 4.71548C3.44323 6.20972 2.20861 8.02103 1.32722 10.0988C0.445837 12.1766 0 14.5006 0 17.0034C0 19.5062 0.445837 21.8302 1.32722 23.9079C2.20861 25.9857 3.44323 27.797 4.9968 29.2913C6.55037 30.7855 8.38859 31.956 10.4669 32.7722C12.5417 33.5885 14.8052 34.0034 17.1887 34.0034C20.1621 34.0034 22.724 33.3726 24.8057 32.1212C26.8428 30.8968 28.585 29.3351 29.9774 27.4766C30.1351 27.2675 30.1934 27.001 30.1351 26.748C30.0768 26.495 29.9122 26.2758 29.6824 26.151V26.1476Z" fill="black"/>
							<path d="M61.656 4.88075C60.2019 3.3494 58.4289 2.14187 56.3883 1.28512C54.3546 0.431746 52.0774 0 49.6219 0C47.1663 0 44.8926 0.431746 42.8589 1.28512C40.8183 2.13849 39.0487 3.3494 37.5911 4.88075C36.1404 6.40536 34.9984 8.22341 34.2028 10.2843C33.4071 12.3385 33.0024 14.5984 33.0024 16.9966C33.0024 19.3948 33.4071 21.6581 34.2028 23.7123C35.0018 25.7732 36.1404 27.5913 37.5911 29.1159C39.0487 30.6472 40.8217 31.8581 42.8589 32.7115C44.8926 33.5649 47.1698 33.9966 49.6219 33.9966C52.074 33.9966 54.3512 33.5649 56.3883 32.7115C58.4254 31.8581 60.1985 30.6472 61.656 29.1159C63.1067 27.5913 64.2453 25.7732 65.0444 23.7123C65.84 21.6581 66.2447 19.3982 66.2447 16.9966C66.2447 14.595 65.84 12.3351 65.0444 10.2843C64.2453 8.22341 63.1067 6.40536 61.656 4.88075ZM59.5537 21.7155C59.0393 23.1389 58.3088 24.3903 57.3794 25.4325C56.4603 26.4647 55.332 27.2843 54.0356 27.8645C52.7393 28.4446 51.2543 28.7415 49.6253 28.7415C47.9963 28.7415 46.4976 28.4446 45.1875 27.8645C43.874 27.2843 42.7423 26.4647 41.8231 25.4325C40.8938 24.3937 40.1736 23.1456 39.6763 21.7222C39.1721 20.2853 38.9184 18.6966 38.9184 17C38.9184 15.3034 39.1721 13.7046 39.6763 12.2508C40.1701 10.8173 40.8938 9.56925 41.8163 8.54722C42.7354 7.52857 43.8706 6.71567 45.1841 6.13214C46.4976 5.55198 47.9928 5.25516 49.6219 5.25516C51.2509 5.25516 52.7359 5.54861 54.0322 6.13214C55.332 6.71567 56.4603 7.52857 57.3794 8.54722C58.3054 9.57262 59.0359 10.8206 59.5469 12.2575C60.0647 13.7113 60.3254 15.3067 60.3254 17C60.3254 18.6933 60.0647 20.2786 59.5469 21.7155H59.5537Z" fill="black"/>
							<path d="M71.4298 33.4401H75.3669C75.8745 33.4401 76.286 33.0353 76.286 32.5395V19.1621H92.9535V32.5395C92.9535 33.0387 93.365 33.4401 93.8726 33.4401H97.8097C98.3172 33.4401 98.7288 33.0353 98.7288 32.5395V1.41666C98.7288 0.917457 98.3172 0.512695 97.8097 0.512695H93.8726C93.365 0.512695 92.9535 0.917457 92.9535 1.41666V13.9036H76.286V1.41666C76.286 0.917457 75.8745 0.512695 75.3669 0.512695H71.4298C70.9223 0.512695 70.5142 0.917457 70.5142 1.41666V32.5395C70.5142 33.0387 70.9257 33.4401 71.4298 33.4401Z" fill="black"/>
							<path d="M104.988 33.4401H127.187C127.695 33.4401 128.106 33.0353 128.106 32.5361V29.0821C128.106 28.5829 127.695 28.1815 127.187 28.1815H109.841V19.2532H126.121C126.628 19.2532 127.04 18.8484 127.04 18.3492V14.8952C127.04 14.396 126.628 13.9946 126.121 13.9946H109.841V5.76785H127.187C127.695 5.76785 128.106 5.36309 128.106 4.86389V1.41666C128.106 0.917457 127.695 0.512695 127.187 0.512695H104.988C104.48 0.512695 104.072 0.917457 104.072 1.41666V32.5395C104.072 33.0387 104.484 33.4435 104.988 33.4435V33.4401Z" fill="black"/>
							<path d="M166.801 0.512695H170.739C171.246 0.512695 171.658 0.917457 171.658 1.41666V32.5395C171.658 33.0387 171.246 33.4435 170.739 33.4435H166.801C166.294 33.4435 165.882 33.0387 165.882 32.5395V1.41666C165.882 0.917457 166.294 0.512695 166.801 0.512695Z" fill="black"/>
							<path d="M177.069 5.77123H186.892V32.5395C186.892 33.0387 187.303 33.4401 187.807 33.4401H191.751C192.259 33.4401 192.667 33.0353 192.667 32.5395V5.77123H202.489C202.997 5.77123 203.408 5.36646 203.408 4.86726V1.41666C203.408 0.917457 202.997 0.512695 202.489 0.512695H177.069C176.562 0.512695 176.154 0.917457 176.154 1.41329V4.86726C176.154 5.36646 176.565 5.77123 177.069 5.77123Z" fill="black"/>
							<path d="M218.752 19.6579V32.5395C218.752 33.0387 219.163 33.4435 219.671 33.4435H223.653C224.16 33.4435 224.568 33.0387 224.568 32.5395V19.6579L236.839 1.92262C237.031 1.64603 237.052 1.28849 236.89 0.991664C236.733 0.698211 236.421 0.512695 236.078 0.512695H231.475C231.17 0.512695 230.882 0.664481 230.714 0.914084L221.657 14.2544L212.599 0.914084C212.428 0.664481 212.143 0.512695 211.838 0.512695H207.235C206.896 0.512695 206.584 0.698211 206.426 0.991664C206.268 1.28849 206.285 1.64603 206.478 1.92262L218.748 19.6579H218.752Z" fill="black"/>
						</svg>
					</div>

				</div>

				<!-- Slide 2 -->
				<div class="swiper-slide bg-white w-[100%]! md:w-[96%]! !h-auto !p-3 md:!p-4 !flex !flex-col md:!flex-row gap-6 md:gap-12 items-stretch">

					<div class="w-full md:w-1/3 aspect-[4/5] bg-black overflow-hidden flex-shrink-0">
						<Image 
							src={Speaker2}
							alt="Amit Gupte"
							width="1600"
							height="2500"
							layout="constrained"
							decoding="async"
							loading="lazy"
							class="w-full h-full object-cover"
						/>
					</div>
					<div class="w-full md:w-2/3 flex flex-col py-8 md:py-10 justify-between space-y-10 mr-10">
						<div>
							<h2 class="font-display font-[950] tracking-normal text-black text-[52px] md:text-[56px] lg:text-[60px]">
								Michael Desmyth
							</h2>
							<p class="font-[700] tracking-tight text-[19.2px] md:text-[20.8px] lg:text-[24px] md:mt-2">
								Account Director | Ethan Global
							</p>
						</div>
						<p class="text-black text-xl md:text-2xl lg:text-[26px] font-sans font-[200] leading-relaxed">
							Michael Desmyth works closely with enterprise organisations to deliver technology solutions that improve operational efficiency, resilience and long-term business continuity.
						</p>
						<div class="w-full border-t border-black mt-auto mb-[1.25rem]"></div>
						<svg xmlns="http://www.w3.org/2000/svg" width="	155" height="34" viewBox="0 0 155 34" fill="none">
							<path d="M81.8368 13.2714H74.0428L69.7687 20.3494H81.8368V33.7472H90.0079V0H81.8368V13.2714ZM104.339 0.126394L91.6421 33.8736H99.939L102.453 26.5428L104.716 20.0967L108.236 10.1115L111.63 20.0967L113.893 26.5428L116.407 33.8736H124.955L112.384 0.126394H104.339ZM147.206 0.126394V20.855L134.509 0.379182L134.383 0.126394H126.464V33.8736H134.258V13.2714L147.08 33.8736H155V0.126394H147.206ZM31.1758 0.126394H58.8319V7.20446H49.1523V33.8736H40.9811V7.20446H31.3015V0.126394H31.1758Z" fill="#231F20"/>
							<path d="M29.6675 0.126465H4.3999V7.20453H29.6675V0.126465Z" fill="#231F20"/>
							<path d="M29.5418 13.3977H4.27413L0 20.4758H25.2676L29.5418 13.3977Z" fill="#231F20"/>
							<path d="M29.6675 26.9219H4.3999V33.9999H29.6675V26.9219Z" fill="#231F20"/>
							<path d="M69.7688 0.126465H61.5977V33.8737H69.7688V0.126465Z" fill="#231F20"/>
						</svg>
					</div>
				</div>

			</div>
			
			<div class="flex justify-end gap-3 max-w-[100%] mx-auto mt-[59.4px]">
				
				<div class="max-w-[100%] md:max-w-[96%] w-full mr-auto flex grow-1 justify-end items-center gap-3">
					
					<div class="!flex-grow !h-px !bg-white"></div>

					<div class="!flex gap-3 !flex-shrink-0">
						<button class="swiper-button-prev !static !m-0 !w-10 md:!w-12 !h-10 md:!h-12 bg-white border-1 border-white !text-transparent flex items-center justify-center hover:bg-transparent transition-color duration-500 group">
							<svg xmlns="http://www.w3.org/2000/svg" width="62" height="62" viewBox="0 0 62 62" fill="none">
								<rect x="61.2" width="61.2" height="61.2" rx="6.3" transform="rotate(90 61.2 0)" fill="transparent"/>
								<path d="M33.3001 20.7002L24.3001 30.6002L33.3001 40.5002" stroke="black" stroke-width="1.8" stroke-linecap="round" class="stroke-black group-hover:stroke-white transition-colors duration-500"/>
							</svg>
						</button>
						<button class="swiper-button-next !static !m-0 !w-10 md:!w-12 !h-10 md:!h-12 bg-white border-1 border-white !text-transparent flex items-center justify-center hover:bg-transparent transition-color duration-500 group">
							<svg xmlns="http://www.w3.org/2000/svg" width="62" height="62" viewBox="0 0 62 62" fill="none">
								<rect width="61.2" height="61.2" rx="6.3" transform="matrix(0 1 1 0 0 0)" fill="transparent"/>
								<path d="M27.8999 20.7002L36.8999 30.6002L27.8999 40.5002" stroke="black" stroke-width="1.8" stroke-linecap="round" class="stroke-black group-hover:stroke-white transition-colors duration-500"/>
							</svg>
						</button>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="px-[20px] py-20 sm:py-25 md:py-30 lg:py-36">
		<div class="container space-y-4 sm:space-y-6 md:space-y-8">
			<h3 data-usal="fade-u">
				What's On <br>The Table
			</h3>
			<div class="py-3" data-usal="fade-u delay-200">
				<p>
					This is not a traditional vendor presentation.
				</p>
				<p class="leading-none">
					The session is designed as a peer-led executive discussion around:
				</p>
			</div>
			<div class="grid grid-cols-1 gap-x-5 gap-y-15 md:grid-cols-2 lg:grid-cols-3">
				<div data-usal="fade-u">
					<div class="space-y-6">
						<Image
							src={Features1}
							alt="Cyber Resilience Strategies"
							width="2000"
							height="1125"
							layout="constrained"
							decoding="async"
							loading="lazy"
							class="w-full h-full object-cover aspect-4/3"
						/>
						<h4>
							Cyber Resilience Strategies
						</h4>
					</div>
				</div>
				<div data-usal="fade-u delay-200">
					<div class="space-y-6">
						<Image
							src={Features2}
							alt="Ransomware Preparedness"
							width="1080"
							height="1236"
							layout="constrained"
							decoding="async"
							loading="lazy"
							class="w-full h-full object-cover aspect-4/3"
						/>
						<h4>
							Ransomware Preparedness
						</h4>
					</div>
				</div>
				<div data-usal="fade-u delay-400">
					<div class="space-y-6">
						<Image
							src={Features3}
							alt='Operational Continuity'
							width="1080"
							height="1236"
							layout="constrained"
							decoding="async"
							loading="lazy"
							class="w-full h-full object-cover aspect-4/3"
						/>
						<h4>
							operational <span class="hidden sm:inline-block"><br></span>Continuity
						</h4>
					</div>
				</div>
				<div data-usal="fade-u">
					<div class="space-y-6">
						<Image
							src={Features4}
							alt="Recovery Readiness"
							width="567"
							height="319"
							layout="constrained"
							decoding="async"
							loading="lazy"
							class="w-full h-full object-cover aspect-4/3"
						/>
						<h4>
							Recovery <span class="hidden sm:inline-block"><br></span>Readiness
						</h4>
					</div>
				</div>
				<div data-usal="fade-u delay-200">
					<div class="space-y-6">
						<Image
							src={Features5}
							alt="AI’s Growing Impact On Security And Infrastructure"
							width="1080"
							height="1080"
							layout="constrained"
							decoding="async"
							loading="lazy"
							class="w-full h-full object-cover aspect-4/3"
						/>
						<h4 class="text-balance">
							AI’s Growing Impact <br>On Security And Infrastructure
						</h4>
					</div>
				</div>
				<div data-usal="fade-u delay-400">
					<div class="space-y-6">
						<Image
							src={Features6}
							alt="Reducing Downtime And Operational Risk"
							width="1800"
							height="1212"
							decoding="async"
							loading="lazy"
							class="w-full h-full object-cover aspect-4/3"
						/>
						<h4 class="text-balance">
							Reducing <span class="hidden sm:inline-block"><br></span>Downtime And Operational Risk
						</h4>
					</div>
				</div>
			</div>
		</div>
	</section>
	
	<section class="px-[20px] pb-20 sm:pb-25 md:pb-30 lg:pb-36">
		<div class="container grid grid-cols-1 lg:grid-cols-12 gap-8 items-center">
			
			<div class="lg:col-span-8 space-y-6 lg:space-y-8">
				
				<div class="flex gap-4 sm:gap-6" data-usal="fade-u">
					<div class="w-4.5 sm:w-5.5 bg-black shrink-0"></div>
					<h5 class="">
						Attendees will hear practical perspectives from organisations navigating increasing cyber pressure, infrastructure complexity and growing expectations around recovery confidence.
					</h5>
				</div>
			</div>
			<div class="hidden lg:block lg:col-span-4">
			</div>

		</div>
	</section>

	<section class="px-[20px] py-20 sm:py-25 md:py-30 lg:py-36 bg-black">
		<div class="container grid grid-cols-1 xl:grid-cols-12 gap-x-12 gap-y-6 md:gap-y-10 lg:gap-y-12 items-start">
			<div class="lg:block lg:col-span-5" data-usal="fade-u">
				<h3 class="text-white">
					Stronger <br>Together
				</h3>
			</div>

			<div class="lg:col-span-7 space-y-6 lg:space-y-8" data-usal="fade-u delay-200">
				<div class="space-y-5 font-sans font-[200] leading-normal text-white text-xl md:text-2xl lg:text-[26px]">
					<p class="text-white">
						Together, Ethan Global and Cohesity help Australian enterprises remain operational when it matters most.
						Cohesity provides a modern platform for cyber resilience, backup, ransomware protection and rapid recovery.
						Ethan Global delivers the local expertise, integration capability and operational execution required to turn resilience strategies into real-world operational outcomes.
					</p>
					<span class="font-sans font-[800] leading-relaxed tracking-normal text-xl md:text-2xl lg:text-[26px] text-white block mb-5">
						The result: Organisations don’t just invest in resilience, they operationalise it, validate it and trust it.
					</span>
				</div>
			</div>
		</div>
	</section>

	<section class="px-[20px] py-20 sm:py-25 md:py-30 lg:py-36">
		<div class="container grid grid-cols-1 xl:grid-cols-12 gap-x-12 gap-y-6 md:gap-y-10 lg:gap-y-12 items-start">
			
			<div class="lg:block lg:col-span-5" data-usal="fade-u">
				<h3>
					Thank<br>you
				</h3>
			</div>

			<div class="lg:col-span-7 space-y-6 lg:space-y-8" id="registration-form" data-usal="fade-u delay-200">
				<p>
					Your subscription has been confirmed. You've been added to our list and will hear from us soon.
				</p>
				<p>
					<a href="/" target="_self" class="relative inline-block text-black font-[500] no-underline transition-all duration-200 ease-in-out hover:text-black after:absolute after:bottom-0 after:left-0 after:content-[''] after:h-0.5 after:bg-black after:transition-all after:duration-200 after:ease-in-out after:w-0 hover:after:w-full">
						Click here
					</a> 
					fill in the form again.
				</p>
			</div>

		</div>
	</section>

	<section class="px-[20px]">
		<div class="container border-t-1 border-t-black py-9" data-usal="fade-u">
			<EventCard />
		</div>
	</section>

	<footer class="px-[20px] py-10 bg-black">
		<div class="container flex flex-col items-center gap-y-4 sm:flex-row sm:items-end sm:justify-between">
			<div class="flex gap-6" data-usal="fade-u">
				<a href="https://ethan.global/" target="Ethan Global" class="hover:scale-105 transition-transform duration-500" aria-label="Ethan Global">
					<svg xmlns="http://www.w3.org/2000/svg" width="104" height="23" viewBox="0 0 104 23" fill="none" class="w-full sm:w-auto h-3.5 sm:h-5.5">
						<g clip-path="url(#clip0_2021_345)">
							<path d="M54.8099 8.88845H49.5899L46.7273 13.629H54.8099V22.6021H60.2825V0H54.8099V8.88845ZM69.8805 0.0846519L61.377 22.6867H66.9337L68.6176 17.7769L70.1331 13.4597L72.4905 6.77215L74.7637 13.4597L76.2792 17.7769L77.9631 22.6867H83.6883L75.2689 0.0846519H69.8805ZM98.5905 0.0846519V13.9676L90.087 0.253956L90.0028 0.0846519H84.6986V22.6867H89.9186V8.88845L98.5063 22.6867H103.811V0.0846519H98.5905ZM20.8799 0.0846519H39.4025V4.82516H32.9196V22.6867H27.447V4.82516H20.9641V0.0846519H20.8799Z" fill="white"/>
							<path d="M19.8697 0.0844727H2.94678V4.82498H19.8697V0.0844727Z" fill="white"/>
							<path d="M19.7855 8.97314H2.86258L0 13.7137H16.9229L19.7855 8.97314Z" fill="white"/>
							<path d="M19.8697 18.0308H2.94678V22.7713H19.8697V18.0308Z" fill="white"/>
							<path d="M46.7275 0.0844727H41.2549V22.6865H46.7275V0.0844727Z" fill="white"/>
						</g>
						<defs>
							<clipPath id="clip0_2021_345">
							<rect width="103.811" height="22.7714" fill="white"/>
							</clipPath>
						</defs>
					</svg>
				</a>

				<div class="w-px max-w-px min-w-px bg-white h-6 mx-2"></div>

				<a href="https://www.cohesity.com/" target="_blank" class="hover:scale-105 transition-transform duration-500" aria-label="Cohesity">
					<svg xmlns="http://www.w3.org/2000/svg" width="159" height="23" viewBox="0 0 159 23" fill="none" class="w-full sm:w-auto h-3.5 sm:h-5.5">
						<g clip-path="url(#clip0_2021_353)">
							<path d="M105.586 0.343262H96.7501C91.9657 0.343262 88.1 4.19948 88.4836 8.8893C88.8143 12.9534 92.2849 16.1612 96.4998 16.1612H99.5615C100.37 16.1612 101.114 15.6258 101.268 14.8442C101.477 13.7937 100.659 12.8698 99.6281 12.8698H96.6858C94.1776 12.8698 91.9748 11.0128 91.8164 8.55044C91.6441 5.87119 93.8124 3.63472 96.4998 3.63472L104.879 3.6189C105.166 3.6189 105.421 3.4314 105.504 3.16031L106.133 1.06164C106.241 0.704712 105.968 0.345521 105.589 0.345521L105.586 0.343262Z" fill="white"/>
							<path d="M99.7085 6.57843H96.6283C95.829 6.57843 95.1032 7.10931 94.9424 7.87965C94.7219 8.93689 95.5419 9.86989 96.5801 9.86989H99.5431C102.04 9.86989 104.224 11.7201 104.392 14.1689C104.576 16.8572 102.405 19.1027 99.7085 19.1027H91.2329C90.994 19.1027 90.785 19.2563 90.7184 19.4822L90.0546 21.7029C89.9512 22.0485 90.2154 22.3941 90.5806 22.3941H99.4926C103.992 22.3941 107.823 18.7729 107.748 14.3496C107.674 10.0506 104.096 6.57617 99.7062 6.57617L99.7085 6.57843Z" fill="white"/>
							<path d="M19.8797 17.5123L17.6241 16.2924C17.3439 16.141 16.9971 16.2246 16.8179 16.4844C16.2598 17.2977 15.5018 17.9709 14.567 18.4814C13.6367 18.9897 12.61 19.2495 11.5144 19.2495C10.4188 19.2495 9.42879 19.0552 8.51462 18.6734C7.60045 18.2916 6.79883 17.7495 6.12814 17.0604C5.45744 16.3714 4.92226 15.5333 4.54098 14.571C4.1574 13.6041 3.96446 12.5333 3.96446 11.3834C3.96446 10.2336 4.1574 9.13791 4.54098 8.18233C4.92226 7.229 5.45744 6.39541 6.12814 5.7064C6.79654 5.01964 7.60045 4.47746 8.51462 4.09342C9.42879 3.71164 10.4394 3.51736 11.5144 3.51736C12.5893 3.51736 13.6344 3.77941 14.5624 4.299C15.5041 4.82536 16.2644 5.49404 16.8225 6.28923C17.0017 6.54451 17.3508 6.62583 17.6264 6.47222L19.8498 5.25232C20.0014 5.16874 20.1117 5.02416 20.1507 4.85699C20.1898 4.68982 20.1507 4.51361 20.052 4.37355C19.6064 3.75908 19.0919 3.18302 18.5291 2.65892C17.9572 2.1303 17.3095 1.66041 16.602 1.26056C15.8923 0.860703 15.1044 0.546693 14.2638 0.327564C13.4185 0.112953 12.4929 0 11.5121 0C9.91573 0 8.40207 0.277865 7.01245 0.824558C5.62052 1.37125 4.38709 2.15741 3.34659 3.15817C2.30609 4.15894 1.47921 5.37205 0.888902 6.76364C0.298597 8.15522 0 9.71171 0 11.3879C0 13.0642 0.298597 14.6207 0.888902 16.0122C1.47921 17.4038 2.30609 18.6169 3.34659 19.6177C4.38709 20.6185 5.61823 21.4024 7.01015 21.9491C8.39978 22.4958 9.91573 22.7736 11.5121 22.7736C13.5035 22.7736 15.2193 22.3512 16.6135 21.5131C17.9779 20.693 19.1447 19.6471 20.0772 18.4023C20.1829 18.2623 20.2219 18.0838 20.1829 17.9144C20.1438 17.7449 20.0336 17.5981 19.8797 17.5145V17.5123Z" fill="white"/>
							<path d="M41.2937 3.26887C40.3198 2.24325 39.1323 1.43451 37.7656 0.860703C36.4035 0.28916 34.8784 0 33.2338 0C31.5892 0 30.0664 0.28916 28.7043 0.860703C27.3377 1.43225 26.1525 2.24325 25.1763 3.26887C24.2047 4.28996 23.4398 5.5076 22.9069 6.88789C22.3741 8.26365 22.103 9.77723 22.103 11.3834C22.103 12.9896 22.3741 14.5054 22.9069 15.8812C23.4421 17.2615 24.2047 18.4791 25.1763 19.5002C26.1525 20.5259 27.34 21.3369 28.7043 21.9084C30.0664 22.4799 31.5915 22.7691 33.2338 22.7691C34.8761 22.7691 36.4012 22.4799 37.7656 21.9084C39.13 21.3369 40.3175 20.5259 41.2937 19.5002C42.2652 18.4791 43.0278 17.2615 43.563 15.8812C44.0959 14.5054 44.3669 12.9919 44.3669 11.3834C44.3669 9.77497 44.0959 8.2614 43.563 6.88789C43.0278 5.5076 42.2652 4.28996 41.2937 3.26887ZM39.8857 14.5439C39.5411 15.4972 39.0519 16.3353 38.4294 17.0333C37.8138 17.7246 37.0582 18.2736 36.1899 18.6621C35.3217 19.0507 34.3271 19.2495 33.2361 19.2495C32.1451 19.2495 31.1413 19.0507 30.2639 18.6621C29.3842 18.2736 28.6262 17.7246 28.0107 17.0333C27.3882 16.3375 26.9059 15.5017 26.5728 14.5484C26.2352 13.586 26.0652 12.522 26.0652 11.3857C26.0652 10.2494 26.2352 9.17858 26.5728 8.20492C26.9036 7.24482 27.3882 6.40896 28.0061 5.72447C28.6216 5.04223 29.3819 4.4978 30.2616 4.10698C31.1413 3.71842 32.1428 3.51962 33.2338 3.51962C34.3248 3.51962 35.3194 3.71616 36.1876 4.10698C37.0582 4.4978 37.8138 5.04223 38.4294 5.72447C39.0496 6.41122 39.5388 7.24708 39.8811 8.20944C40.2279 9.18309 40.4025 10.2516 40.4025 11.3857C40.4025 12.5197 40.2279 13.5815 39.8811 14.5439H39.8857Z" fill="white"/>
							<path d="M47.8398 22.3962H50.4767C50.8166 22.3962 51.0923 22.1252 51.0923 21.7931V12.8336H62.2552V21.7931C62.2552 22.1274 62.5308 22.3962 62.8708 22.3962H65.5076C65.8476 22.3962 66.1232 22.1252 66.1232 21.7931V0.948691C66.1232 0.614349 65.8476 0.343262 65.5076 0.343262H62.8708C62.5308 0.343262 62.2552 0.614349 62.2552 0.948691V9.31174H51.0923V0.948691C51.0923 0.614349 50.8166 0.343262 50.4767 0.343262H47.8398C47.4999 0.343262 47.2266 0.614349 47.2266 0.948691V21.7931C47.2266 22.1274 47.5022 22.3962 47.8398 22.3962Z" fill="white"/>
							<path d="M70.3152 22.3962H85.183C85.523 22.3962 85.7986 22.1252 85.7986 21.7908V19.4775C85.7986 19.1432 85.523 18.8744 85.183 18.8744H73.5653V12.8946H84.4687C84.8086 12.8946 85.0843 12.6235 85.0843 12.2892V9.97591C85.0843 9.64157 84.8086 9.37274 84.4687 9.37274H73.5653V3.86288H85.183C85.523 3.86288 85.7986 3.5918 85.7986 3.25745V0.948691C85.7986 0.614349 85.523 0.343262 85.183 0.343262H70.3152C69.9752 0.343262 69.7019 0.614349 69.7019 0.948691V21.7931C69.7019 22.1274 69.9775 22.3985 70.3152 22.3985V22.3962Z" fill="white"/>
							<path d="M111.714 0.343262H114.351C114.691 0.343262 114.967 0.614349 114.967 0.948691V21.7931C114.967 22.1274 114.691 22.3985 114.351 22.3985H111.714C111.375 22.3985 111.099 22.1274 111.099 21.7931V0.948691C111.099 0.614349 111.375 0.343262 111.714 0.343262Z" fill="white"/>
							<path d="M118.592 3.86514H125.17V21.7931C125.17 22.1274 125.445 22.3962 125.783 22.3962H128.425C128.765 22.3962 129.038 22.1252 129.038 21.7931V3.86514H135.616C135.956 3.86514 136.232 3.59405 136.232 3.25971V0.948691C136.232 0.614349 135.956 0.343262 135.616 0.343262H118.592C118.252 0.343262 117.978 0.614349 117.978 0.946432V3.25971C117.978 3.59405 118.254 3.86514 118.592 3.86514Z" fill="white"/>
							<path d="M146.508 13.1657V21.7931C146.508 22.1274 146.784 22.3985 147.124 22.3985H149.79C150.13 22.3985 150.403 22.1274 150.403 21.7931V13.1657L158.622 1.28755C158.75 1.10231 158.764 0.862846 158.656 0.664049C158.551 0.46751 158.342 0.343262 158.112 0.343262H155.029C154.825 0.343262 154.632 0.44492 154.52 0.61209L148.453 9.54669L142.387 0.61209C142.272 0.44492 142.082 0.343262 141.877 0.343262H138.795C138.568 0.343262 138.359 0.46751 138.253 0.664049C138.147 0.862846 138.159 1.10231 138.287 1.28755L146.506 13.1657H146.508Z" fill="white"/>
						</g>
						<defs>
							<clipPath id="clip0_2021_353">
							<rect width="158.73" height="22.7714" fill="white"/>
							</clipPath>
						</defs>
					</svg>
				</a>
			</div>
			<span class="font-sans font-[300] text-sm leading-none text-white" data-usal="fade-u delay-200">
				© Ethan 2026  |  ALL RIGHTS RESERVED.
			</span>
		</div>
	</footer>
</Layout>